

.intro {
    display: flex;
    flex-direction: row;
}

.intro div {
    padding: 10px;
}

#my-pic img {
    width: 370px;
    height: auto; /* to maintain aspect ratio */
    filter: grayscale(1);
}