.intro {
    display: flex;
    flex-direction: row;
}

.intro div {
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

#my-pic img {
    width: 469px;
    height: auto; /* to maintain aspect ratio */
    /* filter: grayscale(1); */
    border-radius: 100%;
}