.heading {
    padding-bottom: 20px;;
}

#experience-summary {
    background: whitesmoke;
    color: #0a192f;
}

.exp-heading {
    /*color: #80dfff;*/
    font-size: 40px;
    font-weight: 600;
}

.year {
    color: #00bfff;
    font-size: 15px;
    font-weight: 700;
}

.exp-summary {
    width: auto;
    font-size: 20px;
    /*color: #ccf2ff;*/
    color: #0a192f;
    font-weight: 500;
}

.exp-summary ul {
    font-weight: 100;
}

.summary-width {
    padding: 20px;
}

.exp-summary li {
    list-style: none;
    line-height: 2;
}

.exp-summary li::before {
    content: '\25B8';
    padding-right: 5px;
}

/*  */

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: -80px;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent antiquewhite;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent antiquewhite transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: antiquewhite;
    position: relative;
    border-radius: 25px;
  }