
section {
    min-width: 800px;
    height: 100%;
    color: #ccf2ff;
    padding: 120px 320px 300px 380px;
}

#about-me-summary {
    background: whitesmoke;
    color: #0a192f;
}

section > div > p {
    padding-left: 20px;
    width: 800px;
}

section .heading {
    font-size: 30px;
    font-weight: 600;
    color: orange;
}

.name-section p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 2;
    font-size: 20px;
    text-align: left;
}

.name {
    color: #00bfff;
    font-size: 60px;
    font-weight: 600;
}

.name-fade {
    color: #80dfff;
    font-size: 40px;
    font-weight: 400;
}

.widthh {
    width: 566px;
}

.skills {
    display: flex;
    flex-direction: row;
}

.skills div {
    padding: 0px 10px 10px 10px;
    font-size: 20px;
    width: 20%;
    line-height: 2;
}
.skills ul {
    list-style: none;
}
.skills ul li:before {
    color: #00bfff;
    content: '\25B7';
    padding-right: 1em;
    font-weight: 900;
}

/*.scroll {*/
/*    opacity: 0;*/
/*    transition: opacity 2s;*/
/*}*/

/*.scroll.scrolled {*/
/*    opacity: 1;*/
/*}*/